.button{
	color: buttontext;
	margin-right: auto;
	margin-left: auto;
	width: 111px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
		overflow: hidden;
}

li {
	display: inline;
}

a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #2d2d2d;
}

a:hover{
	text-decoration: underline;
	color: blue;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #dddddd;
}

#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #ececec;
}

#logo{
	margin-right: auto;
	margin-left: auto;
	margin-top: 15%;
	width: 272px;
}

#search_box{

	position: relative;
	top: 0px;
	z-index: 2;
	width:278px;
	margin-left:-139px;
	left:50%;
}

#lucky_button{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -13px;
	left: 55px;
}

#search_button{

	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: -51px;
	top: 8px;
}
